.App-footer {
    background-color: #31353f;
    min-height: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
